{% extends "../layouts/user_layout.html" %} {% block content %}

<div class="flex justify-between items-center px-8">
    <h1 class="p-2 text-2xl">All Posts</h1>
    <a href="/posts/create">+ Create post</a>
</div>
{% for post in posts %}
<div class="py-4 border bg-slate-200 rounded m-4 p-3">
    <a href="/posts/{{post.id}}" class="font-bold text-lg">{{post.title}}</a>
    <p class="italic">By : {{post.user_name}}</p>
    <p>{{ post.created_at.format("%d-%m-%Y %I:%M %p")}}</p>
</div>
{% endfor %} {% endblock content %}
