{% extends "../layouts/guest_layout.html" %} {% block content %}
<div class="h-screen w-full bg-gradient-to-r from-yellow-100 to-sky-300 pt-20">
    <div class="p-4 bg-slate-100 border border-slate-200 rounded w-96 mx-auto">
        <div class="font-bold text-red-800 text-center text-2xl mb-2">
            Axum Blog
        </div>
        <h1 class="m-2 font-bold text-xl">Please Register</h1>
        {% include "../partials/messages.html" %}

        <form
            method="POST"
            action="/register"
            class="flex flex-col justify-center p-4"
        >
            <div class="py-4 flex flex-col">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="py-4 flex flex-col">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" />
            </div>
            <div class="py-4 flex flex-col">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" \ />
            </div>
            <div class="py-4 flex flex-col">
                <label for="confirm_password">Confirm Password</label>
                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                />
            </div>
            <div class="py-4">
                <button
                    type="submit"
                    class="w-full cursor-pointer border bg-gray-800 rounded py-2 text-white"
                >
                    Signup
                </button>
            </div>
            <a href="/login">Have an account? Login</a>
        </form>
    </div>
</div>
{% endblock content %}
