{% extends "../layouts/user_layout.html" %}{% block content %}
<div class="p-12">
    <h2 class="font-bold text-xl">Show Post : {{post.title}}</h2>

    <p>By: {{post.user_name}}</p>
    <p>{{ post.created_at.format("%d-%m-%Y %I:%M %p")}}</p>

    <div class="p-4 bg-slate-200 border rounded mx-auto mt-12">
        {{post.content}}
    </div>
</div>

{% if post.user_id == auth_user.id %}

<div class="p-4 px-12 flex justify-between items-center">
    <a
        href="/posts/{{post.id}}/edit"
        class="cursor-pointer hover:underline text-cyan-600"
        >Edit</a
    >
    <a
        href="/posts/{{post.id}}/delete"
        class="cursor-pointer hover:underline text-red-500"
        >Delete</a
    >
</div>
{% endif %} {% endblock content %}
